* {
  box-sizing: border-box;
}

body, html {
  font-family: 'Assistant', sans-serif;
  height: 100%;
  width: auto;
  margin: 0;
  padding-bottom: 10%;
}

main {
  display: flex;
  overflow: hidden;
  padding-left: 1%;
}

header {
  background-color: #555B6E;
  width: 100vw;
  height: 8vh;
}

.title-and-welcome {
  padding-top: 5px;
  color: #FFF;
}

.activity-tracker-banner {
  float: right;
}

.welcome-banner {
  float: left;
  margin-right: 30em;
  margin-left: -4em;
}

ul,
h3 {
  margin-left: -6%;
  list-style: none;
  text-align: center;
  line-height: 1.5em;
  margin-top: 0;
}

h1 {
  margin: 0px;
  padding-left: 10%;
}

li {
  line-height: 1em;
}

.user-info,
.friends-section {
  color: white;
  margin-left: -5%;
  display: flex;
  flex-direction: column;
  background: #6D9E9B;
  width: 33vw;
  font-size: 1em;
  align-items: center;
}

.user-info {
  height: 45vh;
}

.friends-section {
  height: 50vh;
  margin-top: 10px;
}

.user-data {
  padding-top: 15px;
  padding-bottom: 15px;
}

.grid {
  gap: 10%;
  padding-left: 5%;
  display: flex;
  flex-wrap: wrap;
}

.col {
  width: 38%;
}

.background {
  background-color: #FAF9F9;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  position: fixed;
}

#Layer_1 {
  margin-top: 20px;
  margin-bottom: 15px;
}

#sleepPicture {
  height: 20vh;
  position: absolute;
  right: 44%;
  top: 77%;
}

.friends-list {
  margin-top: 25px;;
}
