* {
  box-sizing: border-box;
}

body, html {
  background-image: linear-gradient(to top, #99ccff 0%, #0066ff 90%, #0066ff 100%);
  height: 100%;
  width: auto;
  margin: 0;
  margin-left: 2vh;
}

main {
  display: flex;
}

ul {
  list-style: none;
  text-align: center;
}

.activity-tracker-banner,
.welcome-banner {
  margin: 0px;
}

/* .profile-move {
  position: relative;
  align-items: center;
}

.profile-move img {
  position: absolute;
} */

.user-info,
.friends-section {
  background: #ffff;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  width: 50vh;
  height: 50vh;
  font-size: 1.2em;
}

ul {
  list-style: none;
  display: inline;
}

.grid {
  display: flex;
  flex-wrap: wrap;
}

.col {
  width: 50%;
}

.col .step {
  width: 100%;
}


/* make last element 100% width */
