* {
  box-sizing: border-box;
}


body, html {
  background-image: linear-gradient(to top, #ff9a9e 0%, #fecfef 99%, #fecfef 100%);
  height: 100%;
  width: auto;
  margin: 0;
}

.wrapper1 {
  display: block;
  justify-content:space-between;
}


.title-and-welcome {
  display: contents;
  float: left;
}

.user-and-friends {
  display: flex;
  float: left;
  flex-direction: column;
  float: left;
  height: 100%;
  width: 30%;
}

.user-info {
  float: left;
  background-color: #F5F5DC;
  border-radius: 10px;
  height: 70%;
  width: 120%;
  opacity: 90%;
}

.profile-image {
  align-self: center;
  margin-top: 20px;
}

.friends-list-area {
  margin-top: 20px;
  align-content: center;
  background-color: #F5F5DC;
  border-radius: 10px;
  height: 55%;
  width: 120%;
  opacity: 90%;
}

.wrapper2 {
  display: grid;
  grid-gap: red;
  float: right;
  grid-template-columns: 200px 200px;
  grid-template-rows: 200px 200px;
  grid-row: auto auto;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

/* .user-hydration, .user-steps, .user-sleep, .user-food {
} */
